:org.apache.felix.configadmin.revision:=L"1"
attribute.overlay="true"
attribute.parents="generated-startup\ generated-boot\ generated-installed"
feature.bundle="bundle"
feature.config="config"
feature.deployer="deployer"
feature.diagnostic="diagnostic"
feature.distro-kar/5.1.4="distro-kar/5.1.4"
feature.distro/5.1.4="distro/5.1.4"
feature.eventadmin="eventadmin"
feature.feature="feature"
feature.framework="framework"
feature.instance="instance"
feature.jaas="jaas"
feature.kar="kar"
feature.log="log"
feature.openhab-core-addon-marketplace/5.1.4="openhab-core-addon-marketplace/5.1.4"
feature.openhab-core-auth-jaas/5.1.4="openhab-core-auth-jaas/5.1.4"
feature.openhab-core-auth-oauth2client/5.1.4="openhab-core-auth-oauth2client/5.1.4"
feature.openhab-core-automation-module-media/5.1.4="openhab-core-automation-module-media/5.1.4"
feature.openhab-core-automation-module-script-providersupport/5.1.4="openhab-core-automation-module-script-providersupport/5.1.4"
feature.openhab-core-automation-module-script-rulesupport/5.1.4="openhab-core-automation-module-script-rulesupport/5.1.4"
feature.openhab-core-automation-module-script/5.1.4="openhab-core-automation-module-script/5.1.4"
feature.openhab-core-automation-rest/5.1.4="openhab-core-automation-rest/5.1.4"
feature.openhab-core-base/5.1.4="openhab-core-base/5.1.4"
feature.openhab-core-config-discovery-addon-ip/5.1.4="openhab-core-config-discovery-addon-ip/5.1.4"
feature.openhab-core-config-discovery-addon-mdns/5.1.4="openhab-core-config-discovery-addon-mdns/5.1.4"
feature.openhab-core-config-discovery-addon-sddp/5.1.4="openhab-core-config-discovery-addon-sddp/5.1.4"
feature.openhab-core-config-discovery-addon-upnp/5.1.4="openhab-core-config-discovery-addon-upnp/5.1.4"
feature.openhab-core-config-discovery-addon-usb/5.1.4="openhab-core-config-discovery-addon-usb/5.1.4"
feature.openhab-core-config-discovery-addon/5.1.4="openhab-core-config-discovery-addon/5.1.4"
feature.openhab-core-config-discovery-sddp/5.1.4="openhab-core-config-discovery-sddp/5.1.4"
feature.openhab-core-io-bin2json/5.1.4="openhab-core-io-bin2json/5.1.4"
feature.openhab-core-io-console-karaf/5.1.4="openhab-core-io-console-karaf/5.1.4"
feature.openhab-core-io-http-auth/5.1.4="openhab-core-io-http-auth/5.1.4"
feature.openhab-core-io-rest-audio/5.1.4="openhab-core-io-rest-audio/5.1.4"
feature.openhab-core-io-rest-auth/5.1.4="openhab-core-io-rest-auth/5.1.4"
feature.openhab-core-io-rest-log/5.1.4="openhab-core-io-rest-log/5.1.4"
feature.openhab-core-io-rest-mdns/5.1.4="openhab-core-io-rest-mdns/5.1.4"
feature.openhab-core-io-rest-sitemap/5.1.4="openhab-core-io-rest-sitemap/5.1.4"
feature.openhab-core-io-rest-swagger/5.1.4="openhab-core-io-rest-swagger/5.1.4"
feature.openhab-core-io-rest-transform/5.1.4="openhab-core-io-rest-transform/5.1.4"
feature.openhab-core-io-rest-voice/5.1.4="openhab-core-io-rest-voice/5.1.4"
feature.openhab-core-io-transport-coap/5.1.4="openhab-core-io-transport-coap/5.1.4"
feature.openhab-core-io-transport-http/5.1.4="openhab-core-io-transport-http/5.1.4"
feature.openhab-core-io-transport-mdns/5.1.4="openhab-core-io-transport-mdns/5.1.4"
feature.openhab-core-io-transport-modbus/5.1.4="openhab-core-io-transport-modbus/5.1.4"
feature.openhab-core-io-transport-mqtt/5.1.4="openhab-core-io-transport-mqtt/5.1.4"
feature.openhab-core-io-transport-serial-javacomm/5.1.4="openhab-core-io-transport-serial-javacomm/5.1.4"
feature.openhab-core-io-transport-upnp/5.1.4="openhab-core-io-transport-upnp/5.1.4"
feature.openhab-core-io-websocket-audio/5.1.4="openhab-core-io-websocket-audio/5.1.4"
feature.openhab-core-io-websocket/5.1.4="openhab-core-io-websocket/5.1.4"
feature.openhab-core-model-item-ide/5.1.4="openhab-core-model-item-ide/5.1.4"
feature.openhab-core-model-item/5.1.4="openhab-core-model-item/5.1.4"
feature.openhab-core-model-lsp/5.1.4="openhab-core-model-lsp/5.1.4"
feature.openhab-core-model-persistence-ide/5.1.4="openhab-core-model-persistence-ide/5.1.4"
feature.openhab-core-model-persistence/5.1.4="openhab-core-model-persistence/5.1.4"
feature.openhab-core-model-rule-ide/5.1.4="openhab-core-model-rule-ide/5.1.4"
feature.openhab-core-model-rule/5.1.4="openhab-core-model-rule/5.1.4"
feature.openhab-core-model-script-ide/5.1.4="openhab-core-model-script-ide/5.1.4"
feature.openhab-core-model-script/5.1.4="openhab-core-model-script/5.1.4"
feature.openhab-core-model-sitemap-ide/5.1.4="openhab-core-model-sitemap-ide/5.1.4"
feature.openhab-core-model-sitemap/5.1.4="openhab-core-model-sitemap/5.1.4"
feature.openhab-core-model-thing-ide/5.1.4="openhab-core-model-thing-ide/5.1.4"
feature.openhab-core-model-thing/5.1.4="openhab-core-model-thing/5.1.4"
feature.openhab-core-model-yaml/5.1.4="openhab-core-model-yaml/5.1.4"
feature.openhab-core-storage-json/5.1.4="openhab-core-storage-json/5.1.4"
feature.openhab-core-ui-icon/5.1.4="openhab-core-ui-icon/5.1.4"
feature.openhab-core-ui/5.1.4="openhab-core-ui/5.1.4"
feature.openhab-runtime-base="openhab-runtime-base"
feature.openhab-runtime-base/5.1.4="openhab-runtime-base/5.1.4"
feature.openhab-runtime-certificate/5.1.4="openhab-runtime-certificate/5.1.4"
feature.openhab-runtime-ui="openhab-runtime-ui"
feature.openhab-runtime-ui/5.1.4="openhab-runtime-ui/5.1.4"
feature.openhab-transport-coap/5.1.4="openhab-transport-coap/5.1.4"
feature.openhab-transport-http/5.1.4="openhab-transport-http/5.1.4"
feature.openhab-transport-mdns/5.1.4="openhab-transport-mdns/5.1.4"
feature.openhab-transport-modbus/5.1.4="openhab-transport-modbus/5.1.4"
feature.openhab-transport-mqtt/5.1.4="openhab-transport-mqtt/5.1.4"
feature.openhab-transport-serial/5.1.4="openhab-transport-serial/5.1.4"
feature.openhab-transport-upnp/5.1.4="openhab-transport-upnp/5.1.4"
feature.openhab.inc-model-core/5.1.4="openhab.inc-model-core/5.1.4"
feature.openhab.tp-base/5.1.4="openhab.tp-base/5.1.4"
feature.openhab.tp-coap/5.1.4="openhab.tp-coap/5.1.4"
feature.openhab.tp-commons-net/5.1.4="openhab.tp-commons-net/5.1.4"
feature.openhab.tp-cxf/5.1.4="openhab.tp-cxf/5.1.4"
feature.openhab.tp-gson/5.1.4="openhab.tp-gson/5.1.4"
feature.openhab.tp-hivemqclient/5.1.4="openhab.tp-hivemqclient/5.1.4"
feature.openhab.tp-httpclient/5.1.4="openhab.tp-httpclient/5.1.4"
feature.openhab.tp-jackson/5.1.4="openhab.tp-jackson/5.1.4"
feature.openhab.tp-jax-rs-whiteboard/5.1.4="openhab.tp-jax-rs-whiteboard/5.1.4"
feature.openhab.tp-jaxb/5.1.4="openhab.tp-jaxb/5.1.4"
feature.openhab.tp-jaxws/5.1.4="openhab.tp-jaxws/5.1.4"
feature.openhab.tp-jbbp/5.1.4="openhab.tp-jbbp/5.1.4"
feature.openhab.tp-jmdns/5.1.4="openhab.tp-jmdns/5.1.4"
feature.openhab.tp-jna/5.1.4="openhab.tp-jna/5.1.4"
feature.openhab.tp-jollyday/5.1.4="openhab.tp-jollyday/5.1.4"
feature.openhab.tp-jose4j/5.1.4="openhab.tp-jose4j/5.1.4"
feature.openhab.tp-jupnp/5.1.4="openhab.tp-jupnp/5.1.4"
feature.openhab.tp-lsp4j/5.1.4="openhab.tp-lsp4j/5.1.4"
feature.openhab.tp-netty/5.1.4="openhab.tp-netty/5.1.4"
feature.openhab.tp-serial-javacomm/5.1.4="openhab.tp-serial-javacomm/5.1.4"
feature.openhab.tp-serial-rxtx/5.1.4="openhab.tp-serial-rxtx/5.1.4"
feature.openhab.tp-swagger-jaxrs/5.1.4="openhab.tp-swagger-jaxrs/5.1.4"
feature.openhab.tp-xtext-ide/5.1.4="openhab.tp-xtext-ide/5.1.4"
feature.openhab.tp-xtext/5.1.4="openhab.tp-xtext/5.1.4"
feature.package="package"
feature.service="service"
feature.shell="shell"
feature.ssh="ssh"
feature.system="system"
feature.wrap="wrap"
feature.wrapper="wrapper"
felix.fileinstall.filename="file:/var/lib/openhab/etc/profile.cfg"
repository.mvn:org.apache.karaf.features/framework/4.4.8/xml/features="mvn:org.apache.karaf.features/framework/4.4.8/xml/features"
repository.mvn:org.apache.karaf.features/specs/4.4.8/xml/features="mvn:org.apache.karaf.features/specs/4.4.8/xml/features"
repository.mvn:org.apache.karaf.features/standard/4.4.8/xml/features="mvn:org.apache.karaf.features/standard/4.4.8/xml/features"
repository.mvn:org.openhab.distro/distro-kar/5.1.4/xml/features="mvn:org.openhab.distro/distro-kar/5.1.4/xml/features"
repository.mvn:org.openhab.distro/distro/5.1.4/xml/features="mvn:org.openhab.distro/distro/5.1.4/xml/features"
repository.mvn:org.openhab.distro/openhab-addons/5.1.4/xml/features="mvn:org.openhab.distro/openhab-addons/5.1.4/xml/features"
service.bundleLocation="?"
service.pid="profile"
