:org.apache.felix.configadmin.revision:=L"2"
felix.fileinstall.filename="file:/repo/openhab/userdata/etc/org.apache.karaf.kar.cfg"
karStorage="/repo/openhab/userdata/tmp/kar"
noAutoRefreshBundles="false"
noAutoStartBundles="false"
service.bundleLocation="?"
service.pid="org.apache.karaf.kar"
