:org.apache.felix.configadmin.revision:=L"20"
binding="mqtt"
core-config-discovery-addon="usb,ip,sddp,upnp,mdns"
misc="openhabcloud"
package="standard"
persistence="influxdb"
service.bundleLocation="?openhab"
service.pid="org.openhab.addons"
transformation="jsonpath,\ map"
ui="basic,\ habpanel"
